body {
    font-family: Roboto;
    font-weight: 100;
}

.limit-of-line {
    margin-right: 0;
    margin-left: 0;
}

.background {
    height: 100vh;
    background-image: -webkit-gradient(linear, right top, left bottom,
    from(#FE5D92), to(#7d7dffce)),
    url(../images/systeme/create-1.jpg);
    background-size: 115%;
}

.background-login {
    height: 100vh;
    background-image: -webkit-gradient(linear, right top, left bottom,
    from(#FE5D92), to(#7d7dffce)),
    url(../images/systeme/create-2.jpg);
    background-size: 115%;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms input {
    font-size: 14px;
    font-weight: 100;
}

.forms input::placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #ccc;
}

.forms input[type="submit"] {
    background: #FE5D92;
    color: #fff;
    border: 1px solid #FE5D92;
    cursor: pointer;
    font-weight: 100;
}

