p,
h1,
h2,
h3,
li,
th,
td,
.card-header,
.text-muted,
span,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-dark {
    background-color: #fa5c91;
    color: white !important;
}

.sidebar-dark a,
.nav-divider,
.sidebar-dark a i {
    color: white !important;
}