/* Menu */
body {
    background-image: -webkit-gradient(linear, right top, left bottom,
            from(#fa196071), to(#00D8F3)), url(../images/systeme/create-1.jpg) !important;
    background-position: right top;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Roboto !important;
    font-weight: 100;

    height: 100vh;
}

header .col-lg-4 h1 {
    font-family: Ubuntu !important;
    font-size: 1.5rem;
    padding-top: 20px;
    color: #fff;
}

header ul li {
    display: inline-block;
    margin: 0;
}

header ul li a {
    display: block;
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    transition: color 1s;
}

header ul li a:hover {
  text-decoration: none;
  filter: brightness(1.1);
}

main .container {
    height: 85vh;
    display: flex;
    justify-items: center;
    align-items: center;

    padding-top: 10rem;
}

main .container h1 {
    font-size: 4rem;
    color: #ffffff;
}

main .container p {
    font-size: 2rem;
    color: #ffffff;
}


